.greenText{
  color:green;
  font-style: italic;
  font-size: 30px;
  text-transform: uppercase;
}
.p1,.p3{
  color:yellow;
}
.p2,.p4{
  color:blue;
}

#p5{
  position:fixed;
  font-size: 30px;
  color: orange;
}
#p2{
  position: absolute;
  right:500px;
}
#p1{
  position: relative;
  left:20px;
}
.box{
  margin: 20px 10% 20px 10%;
  border: black 10px dashed;
  padding:20px 30% 20px 30%;
}
