body{
  background-color: black;

}

#wrapper{
  background-color: white;
  height: 1000px;
  width:800px;
  margin:0 auto;
}
#header{
  position: relative;
  top: 10px;
  background-color: red;
  width: 800px;
  height: 100px;
  text-align: center;
}

#nav{
  background-color: pink;
  width: 800px;
  height:800px;
  float: left;
}

#footer{
  position: relative;
  bottom: 10px;
  background-color: blue;
  width: 800px;
  height:100px;
  clear: both;
}
